.places {
	color: white;
	max-width: 984px;
	margin: 0 auto;
	padding: 92px 148px 0px 148px;
}

.places:last-child {
	padding-bottom: 0;
}


@media screen and (max-width: 1024px) {
	.places {
		padding: 92px 48px 0px 48px;
	}
}

@media screen and (max-width: 768px) {
	.places {
		padding: 73px 24px 0px 24px;
	}

	.places:first-child {
		padding-top: 88px;
	}
}

@media screen and (max-width: 500px) {
	.places {
		padding: 0;
		
	}

	.places:first-child {
		padding-top: 64px;
	}

	.places:last-child {
		padding-bottom: 0;
	}
}