.places {
	color: white;
	width: 984px;
	margin: 0 auto;
	padding: 92px 148px 0px 148px;
}

@media screen and (max-width: 1025px) {
	.places {
		width: 928px;
		padding: 92px 48px 0px 48px;
	}
}

@media screen and (max-width: 769px) {
	.places {
		width: 720px;
		padding: 88px 24px 0px 24px;
	}
}

@media screen and (max-width: 500px) {
	.places {
		width: 320px;
		padding: 64px 0 0 0;
		
	}
}