.places__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 65px;
  text-align: left;
  margin: 0;
  align-self: end;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .places__title {
    font-size: 42px;
    line-height: 46px;
    max-width: 300px;
  }
}

@media screen and (max-width: 500px) {
  .places__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 32px 16px;
  }
}