.lead {
	max-width: 984px;
	margin: 0 auto;
	margin-top: 56px;
}

@media screen and (max-width: 1114px) {
	.lead {
		max-width: 928px;
		margin-top: 48px;
	}
}

@media screen and (max-width: 984px) {
	.lead {
		max-width: 768px;
	}
}

@media screen and (max-width: 640px) {
	.lead {
		max-width: 320px;
	}
}