.cover {
	margin: 0 auto;
	margin-top: 92px;
	padding: 0 48px;
	max-width: 1184px;
}

@media screen and (max-width: 1025px) {
	.cover {
		max-width: 100%;
		padding: 0;
	}
}

@media screen and (max-width: 769px) {
	.cover {
		margin-top: 90px;
	}
}

@media screen and (max-width: 350px) {
	.cover {
		margin-top: 66px;
	}
}