.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 92px 48px 24px 48px;
	max-width: 1184px;
}

@media screen and (max-width: 769px) {
	.footer {
		max-width: 100%;
		margin: 88px 24px 24px;
	}
}

@media screen and (max-width: 670px) {
	.footer {
		flex-direction: column;
		margin: 64px 118px 24px 16px;
	}
}