.places__item {
	display: grid;
	grid-template-columns: 460px 1fr;
	grid-row-gap: 60px;
	grid-column-gap: 40px;
	margin-bottom: 80px;
}

.places__item:last-of-type {
	margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
	.places__item {
		grid-row-gap: 48px;
		grid-column-gap: 32px;
		margin-bottom: 80px;
	}
}

@media screen and (max-width: 768px) {
	.places__item {
		grid-column-gap: 28px;
		grid-template-columns: 300px 1fr;
		
	}
}

@media screen and (max-width: 350px) {
	.places__item {
		grid-template-rows: 4fr;
		grid-template-columns: 1fr;
		padding-bottom: 48px;
	}
}